.header {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border-top: solid;
    border-top-color: #097ABF;
    border-top-width: 10px;
    text-align: center;
}


.footer {
    width: 100%;
    height: 200px;
    margin: 0px;
    background-color: #10284C;
    border-bottom: solid;
    border-bottom-color: #097ABF;
    border-bottom-width: 10px;
 }