.body {
    background-color: #FDFDFE;
    margin: 0px;
    padding: 0px;
 }

* {
  font-family: roboto, sans-serif;
  font-size: 18px;
}

ul, li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/*wordt in default aangehaald*/
.container {
    width: 80%;
    text-align: center;
}


/* smartphone */
@media (max-width: 767px) {
}

@media (max-width: 767px) {
}


/* Tablet */

@media (min-width: 768px) and (max-width: 991px) {
}


@media (min-width: 768px) and (max-width: 991px) {
}


/* normal screen desktop */
@media (min-width: 992px) and (max-width: 1199px) { 
} 


@media (min-width: 992px) and (max-width: 1199px) {
}


/* big screen desktop */
@media (min-width: 1200px) { 
}

