.body {
    background-color: #FDFDFE;
    margin: 0px;
    padding: 0px;
 }

* {
  font-family: roboto, sans-serif;
  font-size: 18px;
}

ul, li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.footer {
}

        /*Komt uit Default*/
.container {
    width: 80%;
}


/* smartphone */
@media (max-width: 767px) { 
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
.footer {
}
}

/* normal screen desktop */
@media (min-width: 992px) and (max-width: 1199px) { 
.container {
    width: 1000px;
} 
}

/* big screen desktop */
@media (min-width: 1200px) { 
.container {
    width: 1000px;
} 
}