<header>
  <div class="col1">
    <a href="index.html" id="logo">
      <img src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}" alt="Logo aXe">
    </a>
    <a href="index.html" id="logosmall">
      <img src="{{ "/assets/images/logo-small.png" | prepend: site.baseurl }}" alt="Logo aXe">
    </a>
  </div>

  <div class="col2">
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/getting-started/">GETTING STARTED</a></li>
      <li><a href="/integrations/">INTEGRATIONS</a></li>
      <li><a href="/docs/">DOCS</a></li>
      <li><a href="/about/">ABOUT</a></li>
      <li><a href="/community/">COMMUNITY</a></li>
    </ul>
  </div>
</header>

