	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<!-- Metadata -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ "/assets/styles/cauldron.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/styles/main.css" | prepend: site.baseurl }}">

<!-- JavaScript -->
	<script src="{{ "/assets/scripts/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/cauldron.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/main.js" | prepend: site.baseurl }}"></script>
