<header>
    <div class="col1">
        <a href="index.html" id="logo"><img src="logo.png" alt="Logo aXe"></a>
        <a href="index.html" id="logosmall"><img src="logosmall.png" alt="Logo aXe"></a>
    </div>

    <div class="col2">
         <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="getting started.html">GETTING STARTED</a></li>
            <li><a href="integrations.html">INTEGRATIONS</a></li>
            <li><a href="docs.html">DOCS</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="community.html">COMMUNITY</a></li>
        </ul>
     </div>
</header>

