<header class="header">
    <nav class="navbar navbar-info">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="index.html"><img src="logo.png" alt="Logo aXe"></a>
            </div>
         </div>
            <ul class="nav navbar-nav">
                <li class="btn"><a href="index.html">HOME</a>
                <li class="btn"><a href="getting started.html">GETTING STARTED</a></li>
                <li class="btn"><a href="integrations.html">INTEGRATIONS</a></li>
                <li class="btn"><a href="docs.html">DOCS</a></li>
                <li class="btn"><a href="about.html">ABOUT</a></li>
                <li class="btn"><a href="community.html">COMMUNITY</a></li>
            </ul>
     </nav>
</header>

<header class="minheader">
    <div class="navbar-header">
        <a href="index.html"><img src="logosmall.png" alt="Logo aXe"></a>
    </div>
    <div class="dropdown">
        <button class="dropbtn">MENU</button>
        <div class="dropdown-content">
            <a href="index.html">HOME</a>
            <a href="getting started.html">GETTING STARTED</a>
            <a href="integrations.html">INTEGRATIONS</a>
            <a href="docs.html">DOCS</a>
            <a href="about.html">ABOUT</a>
            <a href="community.html">COMMUNITY</a>
        </div>

</header>
