<nav>
  <ul class="dqpl-side-bar dqpl-main-nav" role="menu">
    <li class="dqpl-branding" role="menuitem" tabindex="0">
      <a href="/" tabindex="-1">
        <div class="dqpl-logo"><img src="/assets/images/logo-small.png" alt="Logo AXE" /></div>
      </a>
    </li>

    <li><a href="/getting-started/">Getting Started</a></li>
    <li><a href="/integrations/">Integrations</a></li>
    <li><a href="/docs/">Docs</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/community/">Community</a></li>
  </ul>
    <div class="dqpl-scrim" id="dqpl-side-bar-scrim"></div>
</nav>