<nav>
  <ul class="dqpl-side-bar dqpl-main-nav">
    <li class="dqpl-branding {% if page.url == '/' %}nav-selected{% endif %}">
      <a href="/"><div class="dqpl-logo">
        <img src="/assets/images/logo-small.png" alt="Logo AXE" />
      </div></a>
    </li>

    <li class="{% if page.url == '/getting-started/' %}nav-selected{% endif %}">
      <a href="/getting-started/">Getting Started</a>
    </li>
    <li class="{% if page.url == '/integrations/' %}nav-selected{% endif %}">
      <a href="/integrations/">Integrations</a>
    </li>
    <li class="{% if page.url == '/docs/' %}nav-selected{% endif %}">
      <a href="/docs/">Docs</a>
    </li>
    <li class="{% if page.url == '/about/' %}nav-selected{% endif %}">
      <a href="/about/">About</a>
    </li>
    <li class="{% if page.url == '/community/' %}nav-selected{% endif %}">
      <a href="/community/">Community</a>
    </li>
  </ul>
    <div class="dqpl-scrim" id="dqpl-side-bar-scrim"></div>
</nav>