<nav>
    
  <ul class="dqpl-side-bar dqpl-main-nav" id="dqpl-side-bar" role="menu" aria-expanded="false">

    <li class="dqpl-branding" role="menuitem" tabindex="0">
      <a href="/" tabindex="-1">
        <div class="dqpl-logo"><img src="/assets/images/logo-small.png" alt="Logo AXE" /></div>
  
      </a>
    </li>

    <li role="menuitem" tabindex="-1"><a href="/getting-started/index.html" tabindex="0">Getting Started</a></li>
    <li role="menuitem" tabindex="-1"><a href="/integrations/index.html" tabindex="-1">Integrations</a></li>
    <li role="menuitem" aria-controls="dqpl-components" aria-haspopup="true" tabindex="-1" class="dqpl-weight-bold">
        <div class="dqpl-item-text">Docs</div>
        <ul class="dqpl-submenu" role="menu" id="dqpl-components" aria-expanded="true" style="display: block;">
            <li class="" role="menuitem" tabindex="-1"><a href="/docs/section1.html" tabindex="-1" data-page-title="Introduction | Docs | AXE">Section 1: Introduction</a></li>
            <li class="" role="menuitem" tabindex="-1"><a href="/docs/section2.html" tabindex="-1" data-page-title="API reference | Docs | AXE">Section 2: API Reference</a></li>
            <li class="" role="menuitem" tabindex="-1"><a href="/docs/section3.html" tabindex="-1" data-page-title="Example Reference | Docs | AXE">Section 3: Example Reference</a></li>
        </ul>
    </li>
    <li role="menuitem" tabindex="-1"><a href="/about/index.html" tabindex="-1">About</a></li>
    <li role="menuitem" tabindex="-1"><a href="/community/index.html" tabindex="-1">Community</a></li>

    <div class="dqpl-scrim" id="dqpl-side-bar-scrim"></div>

</nav>
