.issue-view {
	font-size: 11px;
    overflow: auto;
    flex: 1;
}
.issue-view * {
    margin:0;
}
.issue-view ul {
    margin: 0 13px;
}
.issue-view .split-group {
	display:flex;
	justify-content: space-between;
}

.issue-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-left: 8px;
    margin-top: .5em;
    min-width: 8em;
    line-height: 1.618;
}
.impact .critical {
    color: #D93251;
    font-weight: 700;
}
.impact .serious {
    color: #e78500;
    font-weight: 500;
}
.impact .moderate {
    color: #deae00;
    font-weight: 500;
}
.review-item {
    color: #D93251;
    font-weight: 500;
}
.issue-view .remediation h3,
.issue-view .remediation h4 {
    margin-top: 8px;
}
.issue-view .remediation h3 {
	color: rgb(217, 50, 81);
	font-weight: 400;
}

.tag-drawer {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #F2F2F2;
    border: solid #CCC;
    border-width: 1px 0 0 1px;
    padding: 1px 3px !important;
    margin: 0 !important;
}
.tag-drawer.expanded {
    left: 272px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-left: 0;
}
#tag-drawer {
    display: flex;
    /* padding for focus management */
    padding: 6px 3px;
}
#tag-drawer ul {
    display: flex;
    margin: 0;
}
@media (max-width: 600px)  {
    .tag-drawer.expanded {
        left:0px;
    }
}

.tag-drawer .fa {
    transform: translateY(2px)
}
.tag-drawer button {
    min-width: 35px;
    padding: 0 2px 4px;
    box-sizing: border-box;
}
.tag-drawer-item {
    display: block;
    line-height: 1;
    margin: 0 6px;
    font-size: 11px;
}
h2.tag-drawer-item {
    font-weight: 500;
}
code.language-css {
    word-break: break-all;
}