@import 'dqpl-react.css';
@import 'axe-navbar.css';
@import 'axe-issue-nav.css';
@import 'axe-issue-view.css';

body {
	font-size: 11px;
}
a {
	text-decoration: none
}
button:not(.dqpl-link) {
	font-size: 12px;
}
body h1 {
	padding: 0;
	color: #02010A;
	font-size: 15px;
}
h2 {
	font-size:13px;
	font-weight:700;
	margin-top:.5em;
}
h3 {
	font-size:12px;
	font-weight:400;
	margin-top:.5em;
}
h4 {
	font-size:12px;
	font-weight:400;
	margin-top:.5em;
}
.axe-panel-main {
	overflow: auto;
	position: relative;
}
.panel-main {
  overflow: auto;
}
.panel-main > * {
	margin: 12px;
}

.panel-main-split {
  display: flex;
}
.panel-main-split > div {
  flex: 1;
  margin: 12px 0;
  padding: 0 12px;
}
.panel-main-split .node-details {
	max-width: 50%;
}
.panel-main-split > div + div {
  border-left: solid 1px #CCC;
}
.panel-main-split > div > *:first-child {
  margin: 0;
}
.panel-main-split > div:not(.tag-drawer) > * + * {
  margin: 12px 0 0;
}
.panel-main-split > div.tag-drawer > div {
  margin: 0;
}
.axe-issue-list {
	flex: 0 0 280px;
	flex-direction: column;
	display: flex;
	background: #eee;
	border-right: 1px solid #a3a3a3;
}

.axe-devtools-content-target h2 {
	display: inline;
	margin-right: 1ex;
}

@media (max-width: 1000px)  {
  .panel-main-split {
    flex-direction: column;
  }
  .panel-main-split > div {
    margin: 0 12px;
    padding: 12px 0;
  }
  .panel-main-split .node-details {
	max-width: 100%;
  }
  .panel-main-split > div + div {
    border-left: none;
    border-top: solid 1px #CCC;
  }
}

body [tabindex="-1"]:focus {
  outline-offset: -2px;
}
/* mouse */
[data-whatinput="mouse"] [tabindex="-1"]:focus {
  outline: none;
}
