html {
  font-family: Helvetica, sans-serif;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: 300;
  font-style: italic;
}
body {
  margin: 0; padding: 0;
}
[class^="col"] {
  padding-left: 5px;
}
table th {
  background-color: #eee;
}
table th,
table td {
  padding: 0.5em;
  border: 1px solid #aaa;
}
.sr {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: visible !important;
  display: block !important;
}
.hidden {
  display: none;
}
.right {
  float: right;
}
.clear {
  clear: both;
  content: '';
  display: table;
}
textarea {
  min-width: 100%;
  max-width: 100%;
  font-family: monospace;
  padding: .5em 1em;
}
#axe-results,
#markup {
  word-wrap: normal;
  white-space: pre;
}
#fixture {
  border: 2px solid #3C7AAE;
  padding: 10px;
  margin-bottom: 20px;
}
div.radio label {
  margin-left: 0.5em;
}
textarea,
code {
  font-size: 1em;
}

.dqpl-main-content .post {
  overflow: auto;
  max-width: 100%;
}


#gitter iframe {
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
