
html, body {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 300;
}
body {
  background-color: #FDFDFE;
  margin: 0px;
  padding: 0px;
}

body p,
body .post-content ul,
body .post-content ol {
  line-height: 1.618;
  margin: 10px 0px;
  max-width: 100%;
  overflow: auto;
}
.post-content ol ol {
  margin: 0;
}

body .dqpl-main-content.dqpl-collapsed {
  padding-left: 0px;
}

fieldset {
  border: none;
}
h1 {
  font-size: 56px;
  color: #0b0e11;
  font-weight: 300;
  position: relative;
}

h2 {
  font-size: 34px;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  margin-top: 10px;
}

h4 {
  font-weight: 400;
  margin: 10px 0px 0px 0px;
}

h5 {
  margin: 10px 0px 0px 0px;
  font-weight: 500;
}

h6 {
  margin: 10px 0px 10px 0px;
  font-weight: 300;
  font-style: italic;
}

iframe {
  padding-bottom: 20px;
}

ol {
  margin: 0px;
}

.post ul {
  padding-left: 40px;
}

p {
  margin-top: 0px;
}

table {
  text-align: left;
  margin: 10px 0px 15px 80px;
  border-collapse: collapse;
}

table th {
  border-bottom: 1px solid #cccccc;
  font-size: 23px;
  font-weight: 300;
}



.post table th, .post table td {
  padding: .5em 1em;
  border: none;
  border-bottom: 1px solid #aaa;
}

code.highlighter-rouge {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background: rgba(217, 50, 81, 0.05);
  display: inline-block;
  padding: 0 2px;
  color: #D03251;
}

strong {
  font-weight: 700;
}

.analysebutton {
  display: inline-block;
}

/*allblocks & block can be find in Integrations */
.allblocks {
  text-align: center;
  padding: 0px;
  width: 100%;
  margin-bottom: 20px;
}

.allblocks a {
  text-align: center;
}

.block img {
  display: block;
  margin: 0 auto 2em;
}

.block {
  border: 1px solid #cccccc;
  width: 25%;
  height: 203px;
  margin: 8px;
  padding: 10px;
  padding-top: 30px;
  display: inline-block;
  overflow: auto;
  min-height: 175px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.backto {
 float: right;
 padding-top: 20px;

}

.browser {
  text-align: center;
}

/*Comes from default*/
.container {
  width: 80%;
  text-align: center;
}

.dqpl-main-content {
  padding: 90px 20px 20px;
}

.dqpl-button-primary {
  margin-right: 10px;
}

.dqpl-main-content {
  overflow: auto;
  position: fixed;
  height: 100%;
  margin: 16px;
}

/*Logo*/
.dqpl-side-bar li:not([aria-controls]).dqpl-branding a .dqpl-logo img,
.dqpl-item-text.dqpl-branding a .dqpl-logo img {
  height: 90px;
  width: 100%;
  padding-left: 0px;
}

.dqpl-main-nav li.dqpl-subnav,
.dqpl-main-nav li.dqpl-subnav:hover,
.dqpl-main-nav li.dqpl-subnav:focus {
  padding: 0;
  border: none;
}

.dqpl-main-nav li {
  cursor: auto !important;
  font-size: 13px;
}

.dqpl-main-nav a {
  display: block;
  margin: -16px;
  padding: 16px;
}

.dqpl-main-nav li.dqpl-subnav a {
  margin-left: -16px;
}

.dqpl-main-nav li.dqpl-subnav li.dqpl-subnav a {
  margin-left: 0;
}
.dqpl-main-nav li.dqpl-subnav li.dqpl-subnav li {
  border-bottom: solid 1px #5a6268;
}

.dqpl-main-nav li.dqpl-subnav > a {
  margin: 0;
  border-left: solid 8px transparent;
  border-bottom: none;
  display: block;
}

.dqpl-main-nav li.dqpl-subnav > a:hover {
  border-left-color: #d4dde0;
}
.dqpl-main-nav li.dqpl-subnav ul {
  border-top:solid 1px #5a6268;
}

.dqpl-side-bar > li > ul > li {
  font-size: 12px;
}

.dqpl-top-bar {
  box-shadow: transparent !important;
  left: 0;
  right: 0;
}

.fork {
  position: absolute;
  top: 60px;
  right: 0;
  border: 0;
  z-index: 1;
}

.fieldset {
  border: 1px solid #cccccc;
  width: 30%;
  display: inline-block;
  overflow: auto;
  min-height: 80px;
  padding: 8px 0px 0px 20px;
  margin: 24px 0px 24px 0px;
}

#gitter iframe {
  width: 100%;
  min-height: 400px;
  height: 70vh;
}

.responsive-iframe {
  max-height: 400px;
  max-width: 600px;
}
.responsive-iframe > div {
  position: relative;
  padding-bottom: 66.6%;
  height: 0;
  overflow: hidden;
}
  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

hr {
  margin: 15px 0px;
}

.integration img {
  margin: 0 auto 0em !important;
}

.page-content .dqpl-main-content.dqpl-collapsed {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.playground-button {
  margin: 0 8px;
}

#playground-input .dqpl-modal-content {
  overflow-y: visible;
}

.post-header {
  padding-right: 130px;
}

.post-content {
  padding: 0px 25px 20px;
}

.post-title {
  border-bottom: 1px solid #f2f2f2;
  margin: 10px 0px 10px 25px;
}

/*Blue border of the selected nav. button*/
.nav-selected {
  border-left: 8px solid #6cdaf2 !important;
}

.results {
  margin-top: 24px;
}

.sizeinput {
  min-width: 800px !important;
  margin-right: 10px;
}

.tableplay {
  margin: 20px 0px 20px 0px !important;
  padding-left: 0px;
  border: hidden;
}

.tabletext {
  border: none;
  padding-left: 0px !important;
}

.tablebutton {
  vertical-align: bottom;
  padding: 0px;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .page-content .dqpl-main-content.dqpl-collapsed {
    padding-left: 277px;
  }
}


@media screen and (min-width: 1023.9px) {
  .block {
    width: 25%;
    height: 231px;
  }

  .examplelogo {
    height: 85px;
    width: 85px;
  }
}

/* normal screen desktop */
@media (min-width: 1024px){
  .block {
    padding-top: 15px;
    width: 30%;
  }

  .examplelogo {
    height: 100px;
    width: 100px;
  }

  .selectbuttonphone {
    display: none;
  }
}

/* big screen desktop */
@media (min-width: 1200px) {
  .dqpl-main-content {
    box-sizing: border-box;
    padding-bottom: 10px;
  }

  .examplelogo {
    height: 100px;
    width: 100px;
  }

  .post-header {
    padding-top: 0px;
  }

  .selectbuttonphone {
    display: none;
  }
}

/* Tablet */
@media screen and (max-width: 1023.9px){
  .big {
    display: none;
  }

  .page-content {
    padding-left: 20px;
  }

  .playground-button {
    margin: 2px 10px !important;
  }

  .post-content {
    border: none;
    padding: 0px;
  }

  .post-title {
    margin-left: 0px;
  }

  .small {
    font-size: medium;
    margin: 40px 25px;
    text-decoration: none;
  }

  .selectbuttonphone {
    display: none;
  }
}

/* smartphone */
@media screen and (max-width: 480px){
  .big {
    display: none;
  }

  .block {
    width: 111px;
    height: 231px;
  }

  .examplelogo {
    height: 75px;
    width: 75px;
  }

  iframe {
    height: 350px;
    width: 325px;
  }

  .page-content .dqpl-main-content.dqpl-collapsed {
    padding-top: 50px;
  }

  .playground-button {
    margin: 0px 0px 10px 2px !important;
  }

  .post-content {
    border: none;
    padding: 0px;
    width: 95%;
  }

  .post-title {
    margin-left: 0px;
  }

  table {
    margin: 0px;
  }

  .selectbuttonphone {
    display: block;
  }
  .selectbuttonnormal {
    display: none;
  }
}

@media screen and (min-width: 480.1px) and (max-width: 620px){
  .fork {
    padding-left: 30px;
  }
}


.CodeFlask__textarea,
.CodeFlask__code,
.CodeFlask__code * {
  font: 18px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  line-height: 1.5 !important;
}

.CodeFlask__textarea {
  border: none !important;
  box-shadow: none !important;
  margin-left: 10px !important;
  padding-left: 1em !important;
}
.CodeFlask__code {
  padding-left: 0 !important;
}
.CodeFlask__pre::before,
.CodeFlask__pre::after {
  display: none !important;
}

.CodeFlask {
  margin-bottom: 1em;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}

.dqpl-side-bar li a[href]:focus {
  border-left: 8px solid #d4dde0;
  margin-left:-24px;
}

#playground-input .dqpl-modal-content {
  overflow-y: visible;
}
.playground-button {
  margin: 0 8px !important;
}
#gitter {
  position:relative;
}