.body {
    background-color: #FDFDFE;
    margin: 0px;
    padding: 0px;
 }

* {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.dqpl-side-bar li:not([aria-controls]).dqpl-branding a .dqpl-logo img, .dqpl-item-text.dqpl-branding a .dqpl-logo img {
    padding-left: 0px;
    width: 100%;
    height: 85px;
}

/*wordt in default aangehaald*/
.container {
    width: 80%;
    text-align: center;
}


/* smartphone */
@media (max-width: 767px) {
}

@media (max-width: 767px) {
}


/* Tablet */

@media (min-width: 768px) and (max-width: 991px) {
}


@media (min-width: 768px) and (max-width: 991px) {
}


/* normal screen desktop */
@media (min-width: 992px) and (max-width: 1199px) { 
} 


@media (min-width: 992px) and (max-width: 1199px) {
}


/* big screen desktop */
@media (min-width: 1200px) { 
}

